
{
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}


body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: ff-speak-web, sans-serif;
  /* font-style: normal; */
  font-weight: 700;
}
h1 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 50px;
  width: auto;
}
nav {
 box-sizing: border-box;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 padding: 40px 60px;
 text-align: center;
 background-color: rgb(191, 65, 107);
 font-size: 1.5em;
 letter-spacing: 1px;
 z-index: 99;
}

nav a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #222;
  padding: 1px 0;
  margin: 0 10px;
  transition: all 0.15s ease-in-out;
}
.hov-color.is-current,
.hov-color:hover {
   color: white;
}

.wide {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 0px 60px 0px;
  min-height: 100vh;
}

.footerwide {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 0px 60px 0px;
  min-height: 30vh;
}

#logo {
  margin: -20px 0px -5px 30px;
  float: left;
}

#chifflogo {
  width: 80%;
  margin-top: -10px;
  z-index: 100;
}

.carousel {
  width: 1430px;
  height: 600px;
  margin-bottom: 20px;

}

.cycle-slideshow {
  width: 1430px;
  z-index: 98;
}

#more {
  text-decoration: none;
  color: white;
  padding: 5px;
  background-color: rgb(191, 65, 107);
  font-size: 1.5em;
  margin: 20px 0px 4px 680px;
}

#more:hover {
  background-color: rgb(242, 106, 14);
  color: white;
  text-decoration: none;
}

.nowshowing {
  flex-direction: rows;
  text-align: center;
}

.nowshowing a{
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 2px;
  font-size: 1.5em;
}

.nowshowing a:hover {
  background-color: rgb(191, 65, 107);
  color: white;
  text-decoration: none;
}

.thisweek {
  flex-direction: rows;
  text-align: center;
}

.thisweek a{
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 2px;
  font-size: 1.5em;
}

.thisweek a:hover {
  background-color: rgb(191, 65, 107);
  color: white;
  text-decoration: none;
}

#movies h1 {
  color: black;
  text-align: center;
}

#about h1{
  color: black;
  text-align: center;
}

#contactus h1{
color: white;
text-align: center;
margin-top: 40px;
}

#venues h1 {
color: black;
text-align: center;
}

#events h1 {
  color: black;
  text-align: center;
}

#home {
  margin-top: 2%;
  width: 100%;
}

#contactus {
  background-color: rgb(242, 106, 14);
  width:100%;
  flex-grow: 1;
}

#contact p {
  color: white;
  text-align: center;
}

#about {
  color: black;
  text-align: center;
  margin-bottom: -10px;
}


/* about */

#chiffbanner {
  width: 100%;
  height: 500px;
  margin-top: -20px;

}

#aboutcopy {
  margin: 10px 70px 0px 70px;
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
}
#aboutcopy h2 {
  letter-spacing: 2px;
}

.aboutbackground {
display: none;

}




/* movies */

.moviebackground {
  width: 100%;
  height: 200px;
  background-color: rgb(242, 106, 14);
  position: absolute;
  margin-top: 120px;
  opacity: .9;
}

.nsmovies {
  display: flex;
  flex-direction: row;
  margin: 80px 20px 0px 100px;
  -webkit-transition: opacity 2s ease-in-out;
-moz-transition: opacity 2s ease-in-out;
-o-transition: opacity 2s ease-in-out;
transition: opacity 2s ease-in-out;

}

.csmovies{
  display: flex;
  flex-direction: row;
  margin: 80px 20px 0px 100px;
  display: none;
  -webkit-transition: opacity 2s ease-in-out;
-moz-transition: opacity 2s ease-in-out;
-o-transition: opacity 2s ease-in-out;
transition: opacity 2s ease-in-out;
}

.moviecontainer {
  margin-top: 60px;
}

.nsmovies.transparent {
  opacity:0;
}

.csmovies.transparent {
  opacity: 0;
}

.poster {
  width: 220px;
  height: 300px;
  margin-left: 20px;
  position: relative;
}

/* events */

.twevents {
  display: flex;
  flex-direction: row;
  margin: 70px 20px 0px 90px;
  -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

.nwevents {
  display: flex;
  flex-direction: row;
  margin: 70px 20px 0px 90px;
  -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
display: none;
}

.twevents.transparent {
  opacity:0;
}

.nwevents.transparent {
  opacity: 0;
}


#gooniesimg {
  width: 600px;
  height: 400px;
}

#labyrinthimg {
  width: 600px;
  height:400px;
  margin-left: 60px;
}

#princessimg {
  width: 600px;
  height: 400px;
}

#matildaimg {
  width: 600px;
  height: 400px;
  margin-left: 60px;
}

/* venues  */

#venueflexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#siteone {
  /* background-color: rgb(204, 230, 255); */
  color: black;
  width: 30%;
  height: 100%;
  margin: 0px 10px -50px 10px;
}

#sitetwo{
  /* background-color: rgb(204, 230, 255); */
  width: 30%;
  height: 100%;
  margin: 0px 10px -50px 10px;

}

#sitethree {
  /* background-color: rgb(204, 230, 255); */
  width: 30%;
  height: 100%;
  margin: 0px 10px -50px 10px;
}


#siteone a {
  padding: 5px;
  background-color: ;
}

#siteone p {
  margin-left: 10px;
}

#sitetwo p {
  margin-left: 10px;
}

#sitethree p {
  margin-left: 10px;
}

.lidologo {
  width:25%;
  margin-left: 38%;
  margin-top: 10%;
}

.classiclogo {
  width:25%;
  margin-left: 38%;
  margin-top: 5%;
}

.cameologo {
  width:25%;
  margin-left: 38%;
  margin-top: 10%;
}


/* Form */

input {
  padding: 20px;
  width: 264px;
  margin: 10px, 0px, 0px, 0px;
}

form {
margin: 0px 260px 0px 228px;
}

#message {
  min-height: 150px;
  border: 0px, solid;
  width: 95%;
  margin:5px 0px 0px 0px;
}

#submit {
  border-radius: 5px;
  font-weight: 500;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 35%;
  color:rgb(242, 106, 14);
}

#submit:hover{
  background-color: rgb(242, 106, 14);
  color: white;
  border-width: medium;
  border-color: white;
}

#successmessage {
  text-align: center;
  color: white;
  display: none;
}

footer {
  background-color: rgb(191, 65, 107);
  width: 100%;
  height: 100px;
}



@media screen and (max-width:30em) {

  body {
    column-count: 1;

  }

  #logo {
    margin: -20px 0px -5px 45px;
    float: left;
  }

  #chifflogo {
    width: 70%;
    margin-top: -10px;
  }

  .cycle-slideshow {
    display: none;
  }


  form {
    width: 50%;
    align-content: center;
    margin: 0px 0px 0px 100px;
  }

  form input {
    margin-right: 50px;
    width: 70%;
  }

  #contactus h1{
    font-size: 26px;
    margin-top: 130px;
  }

  #message {
    width: 70%;
    height: 100%;
  }

  #submit {
    border-radius: 2px;
    font-weight: 500;
    padding: 12px 0;
    width: 180px;
    font-size: 20px;
    text-align: center;
    display: block;
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    color:rgb(242, 106, 14);
  }


  #home {
  background-image: url(images/chiffposter1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;

  margin-top: 80px;
}
#venues h1{
  font-size: 30px;
  margin-top: 130px;
}
#venueflexcontainer {
  flex-direction: column;
  justify-content: center;
}

#siteone {
  width: 100%;
  margin: 0px 0px 5px 0px;
}
#sitetwo {
  width: 100%;
  margin: 5px 0px 0px 0px;
}
#sitethree {
  width: 100%;
  margin: 5px 0px 0px 0px;
}
.moviebackground {
display: none;

}
.nsmovies {
  flex-direction: column;
}

.poster {
  margin-top: 5px;
  margin-left: 0px;

}

#movies h1 {
  font-size: 30px;
  margin-top: 130px;
}

.nowshowing {
  font-size: 1em;
}

.twevents{
  flex-direction: column;
}

.nwevents {
  flex-direction: column;
}

#gooniesimg {
  width: 100%;
  height: 100%;
  margin-left: -32px;
}

#labyrinthimg {
  width: 100%;
  height: 100%;
  margin-left: -32px;
  margin-top: 10px;
}

#princessimg {
  width: 100%;
  height: 100%;
  margin-left: -35px;
}

#matildaimg {
  width: 100%;
  height: 100%;
  margin-left: -32px;
  margin-top: 10px;
}

#events h1 {
  font-size: 30px;
  margin-top: 130px;

}
.thisweek {
  font-size: 1em;
}

#chiffbanner {
  display: none;
}

#about h1 {
  margin-top: 130px;
  font-size: 30px;
}

#aboutcopy h2 {
  font-size: 24px;

}

#aboutcopy {
  font-size: 20px;
}

#home {
background-image: url(images/chiffposter1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 100%;
margin-top: 115px;
}


}
